    html, body {
        margin: 0;
    }
    body {
        background-color: #ECF0F1;
        display: flex;
        justify-content: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .wrapper {
        width: 1200px;
        display: flex;
        margin: 0 auto;
        background-color: #FFFFFF;
    }
    .main {
        display: flex;
        flex-flow: column;
        width: 85%;
    }
    .menu {
        width: 15%;
        background-color: #4A90E2;
        padding: 10px 20px 0px;
    }
    .header {
        background-color: #FFFFFF;
        min-height: 150px;
    }
    .content {
        background-color: #2C3E50;
        min-height: 300px;
        padding: 20px;
        color: #FFFFFF;
    }
    .footer {
        background-color: rgb(99, 56, 240);
        min-height: 150px;
        color: #FFFFFF;
    }
    p {
        letter-spacing: 3px; /* Ajusta o espaço entre as letras para 1 pixel */
    }
    table{
        border: solid 1px black;
        font-family: Georgia, 'Times New Roman', Times, serif;
        
    }
    table thead th{
        background-color:#4A90E2;
        color: black;
    }
    form {
        /* Apenas para centralizar o form na página */
        margin: 0 auto;
        width: 400px;
        /* Para ver as bordas do formulário */
        padding: 1em;
        border: 1px solid #ccc;
        border-radius: 1em;
    }
    form div + div {
        margin-top: 1em;
    }
    label {
        /*Para ter certeza que todas as labels tem o mesmo tamanho e estão propriamente alinhadas */
        display: inline-block;
        width: 80px;
        text-align: right;
    }
    input,textarea {
    /* Para certificar-se que todos os campos de texto têm as mesmas configurações de fonte. Por padrão, textareas ter uma fonte monospace*/
    font: 1em sans-serif;

    /* Para dar o mesmo tamanho a todos os campo de texto */
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Para harmonizar o look & feel das bordas nos campos de texto*/
    border: 1px solid #999;
    }
    textarea {
        /* Para alinhar corretamente os campos de texto de várias linhas com sua label*/
        vertical-align: top;
    
        /* Para dar espaço suficiente para digitar algum texto */
        height: 5em;
    
        /* Para permitir aos usuários redimensionarem qualquer textarea verticalmente. Ele não funciona em todos os browsers */
        resize: vertical;
    }
    .button {
        /* Para posicionar os botões para a mesma posição dos campos de texto */
        padding-left: 90px; /* mesmo tamanho que os elementos do tipo label */
    }
    button {
        /* Esta margem extra representa aproximadamente o mesmo espaço que o espaço entre as labels e os seus campos de texto*/
        margin-left: 0.5em;
    }
    input:focus,
    textarea:focus {
    /* Dar um pouco de destaque nos elementos ativos */
    border-color: #000;
    }

    

    
  